
<style>
    /* WebKit */
    ::-webkit-scrollbar {
      width: 0px; /* Adjust the width as desired */
    }
</style>  
  <div class="main" style="    background-color: brown;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
">
<div class="navbar"><app-navbar></app-navbar></div>
<div class="about-section"style=" margin-top: 100px;
padding: 1%;
position: relative;
background-color: #000000d1;
top: 2%;

bottom: 2%;
left: 1%;
width: 98%;
height: 79px;
border-radius: 20px;
color: white;
font-family: Brush Script MT;
overflow: auto;
line-height: 1.7;
font-size: 34px;
height: 72%;"><h1 style=" font-size: 80px; color:rgb(174, 174, 174)">About</h1>
    <br>
    <p>
        &nbsp;Welcome to "Culinary Delights" - where exquisite flavors and exceptional service converge to create an unforgettable dining experience. Situated in the heart of the city, our restaurant offers a warm and inviting atmosphere for both intimate gatherings and lively celebrations.  </p>
    <p>
        &nbsp; &nbsp; &nbsp;At Culinary Delights, we believe that every meal should be an adventure, a moment to savor and remember. Our expert culinary team, led by renowned chef [Chef's Name], is dedicated to crafting innovative and artfully presented dishes using only the finest locally sourced ingredients. From tantalizing appetizers to decadent desserts, our menu showcases a harmonious blend of classic and contemporary flavors, with each dish thoughtfully curated to tantalize your taste buds.
    </p>
    <p>
        &nbsp; &nbsp; &nbsp;Complementing our delectable cuisine is an extensive selection of handpicked wines, carefully chosen to elevate your dining experience. Our sommeliers are passionate about assisting you in finding the perfect pairing, whether you prefer a bold red, a crisp white, or something truly unique.
    </p>
    <p>
        &nbsp; &nbsp; &nbsp;We take great pride in delivering exceptional service to our valued guests. Our friendly and knowledgeable staff is committed to providing personalized attention, ensuring that every aspect of your visit exceeds your expectations. Whether you're joining us for a romantic dinner, a family gathering, or a business lunch, our team is here to make your time with us truly memorable.
    </p>
        <p>
            &nbsp; &nbsp; &nbsp;Experience the epitome of culinary excellence at Culinary Delights. Book your table today and embark on a gastronomic journey that will delight your senses and leave you longing for more.
    </p>
</div>
<div>
    <div style="background-color: #ff575700; text-align: center;color:white;font-family: Brush Script MT; padding: 17px;"> <h2>Study foods before eating</h2>
        <div><i class="bi bi-whatsapp"></i>
            &nbsp; &nbsp; 
        <i class="bi bi-instagram"></i>
        &nbsp; &nbsp; 
        <i class="bi bi-google"></i>
        &nbsp; &nbsp; 
        <i class="bi bi-meta"></i></div>
    </div>
</div>
</div>


















