<div class="main">
   
    <div class="flex-container" >
        <div class="navbar"><app-navbar></app-navbar></div>
        <div class="element-to-animate2"> <img src="./assets/pexels-chan-walrus-958545.jpg" alt="Italian Trulli" style="margin-top: 80px;height: 700px;width: 100%;"></div>
        <div style="padding:1%; border-radius: 1%;">
        <!-- <div style="background-color: #ff575754; padding: 1%;
        color: white;">
            vodka
        </div> -->
        <div class="flex-container1">
            <div class="element-to-animate1">
                <style>
                    /* Hide the scrollbar */
                    ::-webkit-scrollbar {
                        width: 0.0em;
                        background-color: #ff575754;
                    }
                
                    ::-webkit-scrollbar-thumb {
                        background-color: #ff575754;
                    }
                
                    ::-webkit-scrollbar-track {
                        background-color: #ff575754;
                    }
                </style>
                <div style="background-color: #ff575754; padding: 1%;line-height: 1.5;
                color: white; font-family: Brush Script MT;overflow: auto; height: 100%; line-height: 1.7;
    font-size: 34px; text-align: left; ">
                   <h1> Indian Cuisine</h1>
                   Indian cuisine consists of a variety of regional and traditional cuisines native to India. Given the diversity in soil, climate, culture, ethnic groups, and occupations, these cuisines vary substantially and use locally available spices, herbs, vegetables, and fruits.
                   Indian cuisine, the foods and methods of their preparation traditional to India. India does not have a single cuisine. Due to its wide variety of climates, soil types, cultures, and religions, as well as influences from other countries, India has a diverse range of cuisines. As a whole, Indian cuisine can be dated to the prehistoric period and can be found across the world wherever there is a significant Indian diaspora. Indian cuisine has also played a key role in global history.</div>
              
            </div>
            <div> <div class="element-to-animate" style="overflow: hidden;">
                <img src="./assets/pexels-sangeet-rao-15923562.jpg" class="hover-img" style="height: 700px;width: 100%;">
              </div>
            </div>
          </div>
        </div>  
        <div>
            <div class="flex-containerfood" style=" padding: 1%;
            color: white; font-family: Brush Script MT;overflow: auto; height: 100%; 
font-size: 34px; ">
                <div style="overflow: hidden;"><img src="./assets/orijit-chatterjee-wEBg_pYtynw-unsplash.jpg" class="hover-img" style="height: 100%;width: 100%;"></div>
                <div style="padding: 9px; font-size: 34px;     text-align: justify;">
                    <h1 style="   text-align: center;">Chinese Cuisine</h1>
                        Chinese cuisine comprise cuisines originating from China. Because of the Chinese diaspora and historical power of the country, Chinese cuisine has influenced many other cuisines in Asia and beyond, with modifications made to cater to local palates. Chinese food staples such as rice, soy sauce, noodles, tea, chili oil, and tofu, and utensils such as chopsticks and the wok, can now be found worldwide.
                        Color, scent and taste are the three traditional aspects used to describe Chinese food, as well as the meaning, appearance, and nutrition of the food. Cooking should be appraised with respect to the ingredients used, knife work, cooking time, and seasoning.
                    </div>
                <div style="overflow: hidden;"><img src="./assets/mae-mu-nGTDXf6NM-I-unsplash.jpg" class="hover-img" style="height: 100%;width: 100%;"></div>  
              </div>
        </div>
        <div><div class="flex-containeritaly" >
            <div style="overflow: hidden;"><img src="./assets/pablo-pacheco-D3Mag4BKqns-unsplash.jpg"class="hover-img" style="height: 141%;
                width: 100%;
               "></div>
            <div style="overflow: hidden;"><img src="./assets/ben-lei-flFd8L7_B3g-unsplash.jpg" class="hover-img"style="height: 100%;width: 100%;"></div>
          </div>
          <div class="flex-containeritaly">
            <div style="height:400px ; color: white; font-family: Brush Script MT;overflow: auto; height: 100%; 
            line-height: 46px;font-size: 34px; 
    padding: 1%;"><h1>Italian Cuisine</h1>
            Italian cuisine (Italian: cucina italiana, pronounced [kuˈtʃiːna itaˈljaːna]) is a Mediterranean cuisine consisting of the ingredients, recipes and cooking techniques developed across the Italian Peninsula and later spread around the world together with waves of Italian diaspora. Some of these foods were imported from other cultures. Significant changes occurred with the colonization of the Americas and the introduction of potatoes, tomatoes, capsicums, maize and sugar beet—the latter introduced in quantity in the 18th century. It is one of the best-known and most appreciated gastronomies worldwide.</div>

          </div>
        </div>
        <div>  <div style="padding:1%; border-radius: 1%;">
            <!-- <div style="background-color: #ff575754; padding: 1%;
            color: white;">
                vodka
            </div> -->
            <div class="flex-container1">
                <div class="element-to-animate1" style="overflow: hidden;">
                    <style>
                        /* Hide the scrollbar */
                        ::-webkit-scrollbar {
                            width: 0.0em;
                            background-color: #ff575754;
                        }
                    
                        ::-webkit-scrollbar-thumb {
                            background-color: #ff575754;
                        }
                    
                        ::-webkit-scrollbar-track {
                            background-color: #ff575754;
                        }
                    </style>
                    
                    <img src="./assets/amirali-mirhashemian-jh5XyK4Rr3Y-unsplash.jpg" class="hover-img"style="height: 700px;width: 100%;">
                </div>
                <div> <div class="element-to-animate" style="overflow: hidden;">
                    <div style="background-color: #ff575754; padding: 1%;line-height: 1.5;
                    color: white; font-family: Brush Script MT;overflow: auto; line-height: 1.7;
                    height: 700px;
        font-size: 34px; text-align: right;">
                       <h1> American Cuisine</h1>
                       American cuisine consists of the cooking style and traditional dishes prepared in the United States. It has been significantly influenced by Europeans, indigenous Native Americans, Africans, Asians, Pacific Islanders, and many other cultures and traditions. Principal influences on American cuisine are Native American, soul food, regional heritages including Cajun, Louisiana Creole, Mormon foodways, New Mexican, Pennsylvania Dutch, Texan Tex-Mex, and Tlingit, and the cuisines of immigrant groups such as American Chinese, Greek American, Italian American, and Mexican American.

                       American cuisine saw significant expansion during the 19th and 20th centuries, primarily due to the influx of immigrants from different nations. 
                    </div>
                  </div>
                </div>
              </div>
            </div> </div>  
        <div></div>
        <div style="background-color: #ff575754; text-align: center;color:white;font-family: Brush Script MT; padding: 17px;"> <h2>Study foods before eating</h2>
            <div><i class="bi bi-whatsapp"></i>
                &nbsp; &nbsp; 
            <i class="bi bi-instagram"></i>
            &nbsp; &nbsp; 
            <i class="bi bi-google"></i>
            &nbsp; &nbsp; 
            <i class="bi bi-meta"></i></div>
        </div>
      </div>
</div>
